{{> nav}}
{{#each thisBook}}
  <div class="row">
    <div class="col-lg-3 col-lg-offset-1">
      <img style="width: 250px;" src="{{cover_url}}" alt="">
    </div>
    <div class="col-lg-7">
      <h2>{{title}}</h2>
      <h3>By<a href="/authors/{{authors_id}}"> {{first_name}} {{last_name}}</a></h3>
      <h3>Genre: {{genre}}</h3>
      <p>{{description}}</p>
    </div>
  </div>
  <a href="/books/edit/{{books_id}}"><button class="btn btn-success"type="button" name="button">Edit</button></a>
  <a href="/books/delete/{{books_id}}"><button class="btn btn-danger"type="button" name="button">Delete</button></a>
  <hr />
  <br>
{{/each}}
