{{> nav}}

<a href="/authors/new"><button class="btn btn-info"type="button" name="button">New author</button></a>
<br>
{{#each authCount}}
  <h3>Number of authors: {{counted}}</h3>
{{/each}}
<br>
{{#each allAuthors}}
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <img src="{{portrait_url}}" alt="">
    </div>
    <div class="col-lg-8">
      <a href="/authors/{{authors_id}}"><h3>{{first_name}} {{last_name}}</h3></a>
      <p>Books: <a href="/books/{{books_id}}"> {{title}}</a></p>

      <p>{{bio}}</p>
    </div>
  </div>
  <hr />
  <br>
{{/each}}
