{{> nav}}
{{#each thisAuthor}}
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <img src="{{portrait_url}}" alt="">
    </div>
    <div class="col-lg-8">
      <h1>{{first_name}} {{last_name}}</h1>
      <p>Books: <a href="/books/{{books_id}}"> {{title}}</a></p>
      <p>{{bio}}</p>
    </div>
  </div>
  <a href="./edit/{{id}}"><button class="btn btn-success"type="button" name="button">Edit</button></a>
  <a href="./delete/{{id}}"><button class="btn btn-danger"type="button" name="button">Delete</button></a>
{{/each}}
